<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        
        <div class="card-body ">
        


          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">All CW List</h5>
                
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Account
                      </th>
                      <th>
                        Complete/Pending
                      </th>
                      
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          111001
                        </td>
                        <td>
                          Pending
                        </td>
                    
                      </tr>
                      <tr>
                        <td>
                          111002
                        </td>
                        <td>
                          Pending
                        </td>
                    
                        
                      </tr>
                      <tr>
                        <td>
                          111003
                        </td>
                        <td>
                          Complete
                        </td>
                 
                      </tr>
                      <tr>
                        <td>
                          111005
                        </td>
                        <td>
                          Complete
                        </td>
                
                      </tr>
                      <tr>
                        <td>
                          111006
                        </td>
                        <td>
                          Pending
                        </td>
                 
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
