<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
  
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
         
          <h6 class="card-title"> CW Table</h6>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Account ID
                </th>
                <th>
                  Ammount
                </th>
                <th >
                  SDC Status
                </th>
                <th >
                  OPD Status
                </th>
                <th >
                  Credit Status
                </th>

                <th >
                  Overall Status
                </th>
                <th >
                  Actions
                </th>
                
               
              </thead>
              <tbody>
                <tr>
                  <td>
                    111000
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td >
                   Regular
                   </td>
                   <td >
                    Success
                   </td>
                   <td >
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                  <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active" style="width: 150px; height: auto;"><div class="datatable-body-cell-label" style="margin-left: 0px;"><!----><!----><!----><!----><!----><a _ngcontent-c11="" class="btn btn-round btn-info btn-icon btn-sm like" href="#"><i _ngcontent-c11="" class="fas fa-heart"></i></a><a _ngcontent-c11="" class="btn btn-round btn-warning btn-icon btn-sm edit" href="#"><i _ngcontent-c11="" class="far fa-calendar-alt"></i></a><a _ngcontent-c11="" class="btn btn-round btn-danger btn-icon btn-sm remove" href="#"><i _ngcontent-c11="" class="fas fa-times"></i></a><!----></div></datatable-body-cell>
                </tr>

                <tr>
                  <td>
                    111000
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td >
                   Regular
                   </td>
                   <td>
                    Success
                   </td>
                   <td >
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                  <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active" style="width: 150px; height: auto;"><div class="datatable-body-cell-label" style="margin-left: 0px;"><!----><!----><!----><!----><!----><a _ngcontent-c11="" class="btn btn-round btn-info btn-icon btn-sm like" href="#"><i _ngcontent-c11="" class="fas fa-heart"></i></a><a _ngcontent-c11="" class="btn btn-round btn-warning btn-icon btn-sm edit" href="#"><i _ngcontent-c11="" class="far fa-calendar-alt"></i></a><a _ngcontent-c11="" class="btn btn-round btn-danger btn-icon btn-sm remove" href="#"><i _ngcontent-c11="" class="fas fa-times"></i></a><!----></div></datatable-body-cell>
                </tr>


                <tr>
                  <td>
                    111000
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td>
                   Regular
                   </td>
                   <td>
                    Success
                   </td>
                   <td>
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                  <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active" style="width: 150px; height: auto;"><div class="datatable-body-cell-label" style="margin-left: 0px;"><!----><!----><!----><!----><!----><a _ngcontent-c11="" class="btn btn-round btn-info btn-icon btn-sm like" href="#"><i _ngcontent-c11="" class="fas fa-heart"></i></a><a _ngcontent-c11="" class="btn btn-round btn-warning btn-icon btn-sm edit" href="#"><i _ngcontent-c11="" class="far fa-calendar-alt"></i></a><a _ngcontent-c11="" class="btn btn-round btn-danger btn-icon btn-sm remove" href="#"><i _ngcontent-c11="" class="fas fa-times"></i></a><!----></div></datatable-body-cell>
                </tr>

                <tr>
                  <td>
                    111000
                  </td>
                  <td>
                    112-123-100251
                  </td>
                  <td>
                   1000$
                  </td>
                  <td>
                   Regular
                   </td>
                   <td>
                    Success
                   </td>
                   <td>
                    Verified
                   </td>

                  <td >
                    Success
                  </td>
                  <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active" style="width: 150px; height: auto;"><div class="datatable-body-cell-label" style="margin-left: 0px;"><!----><!----><!----><!----><!----><a _ngcontent-c11="" class="btn btn-round btn-info btn-icon btn-sm like" href="#"><i _ngcontent-c11="" class="fas fa-heart"></i></a><a _ngcontent-c11="" class="btn btn-round btn-warning btn-icon btn-sm edit" href="#"><i _ngcontent-c11="" class="far fa-calendar-alt"></i></a><a _ngcontent-c11="" class="btn btn-round btn-danger btn-icon btn-sm remove" href="#"><i _ngcontent-c11="" class="fas fa-times"></i></a><!----></div></datatable-body-cell>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
